@import "win.css";
@import "mac.css";
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
